/*--- Fonts ---*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/*--- Variables and Mixins ---*/
$background-color-1: ghostwhite;
$defaultFont: 'Playfair Display', serif;
$cursiveFont: 'Kalam', cursive;
$easyFont: 'Nunito Sans', sans-serif;
/*----------------------------*/

body {
    margin: 0;
    min-width: 1200px;
    font-family: $defaultFont;
}

/*--- Header ---*/
#header {
    &{
        float: left;
        width: 100%;
        background-color: $background-color-1;
        border-bottom: 1px solid #ebebeb;
    }

    .header{
        float: left;
        padding: 0 5% 0 5%;
        width: 90%;
        clear: both;
    }

    .title{
        float: left;
        width: 20%;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
    }

    .first-part{
        float: left;
        margin: 4px 0 12px 0;
        color: orangered;
        text-decoration: none;
    }

    .second-part{
        float: left;
        margin: 10px 0 6px 0;
        color: blue;
        text-decoration: none;
    }

    .navigation{
        float: left;
        width: 60%;
        height: 50px;
    }

    .navigation a{
        &{
            float: left;
            padding: 14px 20px 15px 20px;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: blue;
        }

        &:hover{
            color: white;
            background: linear-gradient(135deg, blue 1%, #1888e6 100%);
        }
    }

    .sign-in-block{
        float: left;
        width: 20%;
    }

    .sign-in-block a{
        &{
            float: right;
            padding: 14px 20px 15px 20px;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: red;
        }

        &:hover{
            color: white;
            background: linear-gradient(135deg, red 1%, #ff6500 100%);
        }
    }

}


/*--- Content ---*/
#content{
    &{
        float: left;
        width: 100%;
        min-height: 900px;
    }


    /*--- Newsfeed ---*/
    #newsfeed{
        &{
            margin: 0 auto;

            @media (min-width: 900px) {
                width: 880px;
            }

            @media(min-width: 1400px){
                width: 1320px;
            }

            @media (min-width: 1840px) {
                width: 1760px;
            }
        }

        .newsbox{
            &{
                float: left;
                margin: 20px;
                width: 400px;
                height: 300px;
            }

            &:first-child{
                width: 840px;
                height: 640px;
            }

            a {
                position: relative;
                float: left;
                width: 100%;
                height: 100%;
            }

            .dark-folie{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 50px;
                background-color: black;
                opacity: 0.8;
            }

            &:first-child .dark-folie{
                min-height: 100px;
            }

            .dark-folie .title {
                margin: 10px;
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 20px;
            }

            &:first-child .dark-folie .title{
                margin: 20px;
                font-size: 40px;
            }

            .dark-folie .type{
                margin: 1px;
                text-align: center;
                color: orange;
                font-weight: bold;
                font-size: 14px;
            }

            &:first-child .dark-folie .type{
                margin: 2px;
                font-size: 28px;
            }

        }
    }


    /*--- Article ---*/
    #article{

        &{
            margin: 20px auto;
            padding: 20px;
            width: 880px;
            background-color: $background-color-1;
            border: 1px solid #ebebeb;
        }

        .title{
            margin: 0 10px 30px 10px;
            font: bold 30px $easyFont;
            text-align: center;
        }

        .author, .date, .type{
            color: orangered;
            font: bold 16px $cursiveFont;
            margin: 3px;
            text-align: center;
        }

        .image{
            margin: 30px auto;
            width: 100%;
            display: block;
        }

        .text{
            text-align: justify;
            font: normal 18px $easyFont;
        }
    }




}

/*--- Footer ---*/
#footer{
    &{
        float: left;
        margin-top: 20px;
        width: 100%;
        background-color: $background-color-1;
        border-top: 1px solid #ebebeb;
    }

    .copyright{
        text-align: center;
        margin: 20px;
    }
}