<div class="navigation-panel">
    <div class="title">
        <a id="headerLogo1p" class="first-part">News</a>
        <a id="headerLogo2p" class="second-part">Blog</a>
    </div>
    <div class="navigation">
        <a id="headerHome">Home</a>
        <a id="headerSport">Sport</a>
        <a id="headerWeather">Weather</a>
        <a id="headerPolitic">Politic</a>
        <a id="headerCulture">Culture</a>
        <a id="headerOther">Other</a>
    </div>
    <div class="sign-in-block">
        <a id="headerSignUp">Sign up</a>
        <a id="headerLogin">Login</a>
    </div>
</div>
