<div class="row navigation_panel">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 header_title">
        <a href="" class="ht_first_part">News</a>
        <a href="" class="ht_second_part">Blog</a>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12 row btn-group header_navigation" role="group"
         aria-label="Basic example">
        <button id="buttonHome" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Home
        </button>
        <button id="buttonSport" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Sport
        </button>
        <button id="buttonWeather" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Weather
        </button>
        <button id="buttonPolitic" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Politic
        </button>
        <button id="buttonCulture" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Culture
        </button>
        <button id="buttonOther" type="button"
                class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 btn btn-secondary nav_button">Other
        </button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="header_sign_in_block">
            <a class="btn btn-outline-primary header_sign_in_link" href="#">Register</a>
            <a class="btn btn-outline-danger header_sign_in_link" role="button" href="#">Login</a>
        </div>
    </div>
</div>