<div class="navigation-panel">
    <div class="title">
        <a href="/newsblog" id="headerLogo1p" class="first-part">News</a>
        <a href="/newsblog" id="headerLogo2p" class="second-part">Blog</a>
    </div>
    <div class="navigation">
        <a href="/newsblog" id="headerHome">Home</a>
        <a href="?page=newsarea&type=sport" id="headerSport">Sport</a>
        <a href="?page=newsarea&type=weather" id="headerWeather">Weather</a>
        <a href="?page=newsarea&type=politic" id="headerPolitic">Politic</a>
        <a href="?page=newsarea&type=culture" id="headerCulture">Culture</a>
        <a href="?page=newsarea&type=other" id="headerOther">Other</a>
    </div>
    <div class="sign-in-block">
        <a id="headerRegister">Register</a>
        <a id="headerLogin">Login</a>
    </div>
</div>
